@import "tailwindcss";

:root {
    --background: #f9fafb;
    --foreground: #111827;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Inter', sans-serif;
}